
metadata_GSE153076.txt
THRA_values_total.txt
.DS_Store
gene_count_matrix_gorilla.csv
gene_count_matrix_human.csv
mosdepth_outputs/SRR12075847_GSM4633806_Hum_d0_batch_1_Homo_sapiens_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075848_GSM4633807_Hum_d2_batch_1_Homo_sapiens_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075849_GSM4633808_Hum_d3_batch_1_Homo_sapiens_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075850_GSM4633809_Hum_d5_batch_1_Homo_sapiens_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075851_GSM4633810_Hum_d10_batch_1_Homo_sapiens_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075852_GSM4633811_Hum_d15_batch_1_Homo_sapiens_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075853_GSM4633812_Hum_d25_batch_1_Homo_sapiens_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075854_GSM4633813_Hum_d0_batch_2_Homo_sapiens_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075855_GSM4633814_Hum_d2_batch_2_Homo_sapiens_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075856_GSM4633815_Hum_d3_batch_2_Homo_sapiens_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075857_GSM4633816_Hum_d5_batch_2_Homo_sapiens_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075858_GSM4633817_Hum_d10_batch_2_Homo_sapiens_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075859_GSM4633818_Hum_d15_batch_2_Homo_sapiens_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075860_GSM4633819_Hum_d25_batch_2_Homo_sapiens_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075861_GSM4633820_Hum_d0_batch_3_Homo_sapiens_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075862_GSM4633821_Hum_d2_batch_3_Homo_sapiens_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075863_GSM4633822_Hum_d3_batch_3_Homo_sapiens_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075864_GSM4633823_Hum_d5_batch_3_Homo_sapiens_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075865_GSM4633824_Hum_d10_batch_3_Homo_sapiens_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075866_GSM4633825_Hum_d15_batch_3_Homo_sapiens_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075867_GSM4633826_Hum_d25_batch_3_Homo_sapiens_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075868_GSM4633827_Gor_d0_batch_1_Gorilla_gorilla_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075869_GSM4633828_Gor_d2_batch_1_Gorilla_gorilla_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075870_GSM4633829_Gor_d3_batch_1_Gorilla_gorilla_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075871_GSM4633830_Gor_d5_batch_1_Gorilla_gorilla_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075872_GSM4633831_Gor_d10_batch_1_Gorilla_gorilla_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075873_GSM4633832_Gor_d15_batch_1_Gorilla_gorilla_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075874_GSM4633833_Gor_d25_batch_1_Gorilla_gorilla_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075875_GSM4633834_Gor_d0_batch_2_Gorilla_gorilla_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075876_GSM4633835_Gor_d2_batch_2_Gorilla_gorilla_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075877_GSM4633836_Gor_d3_batch_2_Gorilla_gorilla_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075878_GSM4633837_Gor_d5_batch_2_Gorilla_gorilla_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075879_GSM4633838_Gor_d10_batch_2_Gorilla_gorilla_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075880_GSM4633839_Gor_d15_batch_2_Gorilla_gorilla_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075881_GSM4633840_Gor_d25_batch_2_Gorilla_gorilla_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075882_GSM4633841_Gor_d0_batch_3_Gorilla_gorilla_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075883_GSM4633842_Gor_d2_batch_3_Gorilla_gorilla_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075884_GSM4633843_Gor_d3_batch_3_Gorilla_gorilla_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075885_GSM4633844_Gor_d5_batch_3_Gorilla_gorilla_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075886_GSM4633845_Gor_d10_batch_3_Gorilla_gorilla_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075887_GSM4633846_Gor_d15_batch_3_Gorilla_gorilla_RNA-Seq_Aligned.out.regions.bed
mosdepth_outputs/SRR12075888_GSM4633847_Gor_d25_batch_3_Gorilla_gorilla_RNA-Seq_Aligned.out.regions.bed
multiqc_report_alignment.html
multiqc_report_alignment_data/multiqc.log
multiqc_report_alignment_data/multiqc_data.json
multiqc_report_alignment_data/multiqc_fastqc.txt
multiqc_report_alignment_data/multiqc_general_stats.txt
multiqc_report_alignment_data/multiqc_sources.txt
multiqc_report_alignment_data/multiqc_star.txt
Sequencing_depth.txt
transcript_count_matrix_gorilla.csv
transcript_count_matrix_human.csv
metadata_GSE153076_backup.txt
Figures/Expression_pattern/Genes_gorilla_vs_human/Barplot_CASP3.png
Figures/Expression_pattern/Genes_gorilla_vs_human/Barplot_DCX.png
Figures/Expression_pattern/Genes_gorilla_vs_human/Barplot_DIO1.png
Figures/Expression_pattern/Genes_gorilla_vs_human/Barplot_DIO2.png
Figures/Expression_pattern/Genes_gorilla_vs_human/Barplot_DIO3.png
Figures/Expression_pattern/Genes_gorilla_vs_human/Barplot_GFAP.png
Figures/Expression_pattern/Genes_gorilla_vs_human/Barplot_MAP2.png
Figures/Expression_pattern/Genes_gorilla_vs_human/Barplot_NES_Nestin.png
Figures/Expression_pattern/Genes_gorilla_vs_human/Barplot_RBFOX3_NeuN.png
Figures/Expression_pattern/Genes_gorilla_vs_human/Barplot_SLC16A10_MCT10.png
Figures/Expression_pattern/Genes_gorilla_vs_human/Barplot_SLC16A2_MCT8.png
Figures/Expression_pattern/Genes_gorilla_vs_human/Barplot_SOX2.png
Figures/Expression_pattern/Genes_gorilla_vs_human/Barplot_THRA.png
Figures/Expression_pattern/Genes_gorilla_vs_human/Barplot_THRA1.png
Figures/Expression_pattern/Genes_gorilla_vs_human/Barplot_THRA2.png
Figures/Expression_pattern/Genes_gorilla_vs_human/Barplot_THRB.png
